*, 
*::after,
*::before {
    box-sizing: border-box;
}


.main-page-wrapper {
  position: relative;
  z-index: 1;
}


.main-page-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0); /* Start at scale 0 */
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1; /* Background layer for terminal box */
  transition: all 0.7s ease-out; /* Smooth animation for scaling */
  background: #131415ef;
  overscroll-behavior: auto;

}

.main-page-wrapper.expanded {
  transform: translate(-50%, -50%) scale(1); /* Expand to full size */
  width: 100%;
  height: 100%;
  opacity: 1;
}

.skill-ui {
  position: relative;
  width: 100%; /* Ensures full width */
  min-height: 50em;
  height: 100%;
  overflow: hidden;
  flex-grow: 1; /* Allows it to expand */
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.contact-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: url('../assets/Skills.jpeg') no-repeat center center fixed;
  background-size: cover;
  padding: 0px;
  scroll-behavior: smooth;
}


.contact-content::before {
  content: '';
  position: fixed; /* Keeps it fixed to the viewport, not the content */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.575) no-repeat center center fixed;
  backdrop-filter: blur(5px);
  z-index: -1;
  scroll-behavior: smooth;
}


.main-text {
  font-family: 'Roboto Slab';
  font-weight: bolder;
  font-size: 10rem; /* Adjust size as needed */
  color: rgba(55, 118, 142, 0.982);
  margin: 0; /* Reset any default margins */
  padding: 30px 10px; /* Reset padding */
  position: relative; /* Avoid overlap caused by absolute positioning */
  z-index: 0; /* Stays above the background */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.main-text a {
  color: rgb(186, 143, 40);
}

.contact-background {
  width: 100vw;
  height: 60vh;
  position: relative; /* Necessary for positioning the pseudo-element */
  display: flex; /* Enables alignment of children */
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  flex-grow: 1;
}

.contact-background::before {
  content: ''; /* Required to create a pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/wood.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8; /* Set the opacity of the background */
  filter: brightness(50%);
  z-index: 1; /* Ensure it stays behind the text */
  flex-grow: 1;
}

.liquid-text-wrapper {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Horizontally center the text */
  align-items: center; /* Vertically center the text */
  width: 100%; /* Make it take the full width of the parent */
  height: 100%; /* Make it take the full height of the parent */
}

.liquid-text {
  font-family: 'Roboto Slab';
  font-weight: bolder;
  font-size: 20rem;
  color: rgba(55, 118, 142, 0.982);
  position: relative;
  z-index: 2;
  transform: translateY(10%);
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration: underline;
  text-align: center; /* Center text */
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
}

.particle {
  --stop-y: 10em;
  width: 10px;
  height: 10px;
  /*top: -50%; */
  background-color: rgb(55, 117, 142);
  position: absolute;
  border-radius: 50%;
  animation: fall 7s infinite;
  z-index: 1;
}

/* Keyframe animations for particles */
@keyframes fall {
  0% {
    opacity: 0;
    top: 0em;
    transform: scale(1); /* Smaller size towards the end and rotation */
  }
  70% {
    opacity: 1;
    top: --stop-y;
    transform: scaleX(0.6) scaleY(1.8); /* Smaller size towards the end and rotation */
  }
  100% {
    top: 110%;
    transform: scale(1); /* Slightly larger as it reaches the bottom */
  }
}

/* Add some variance to each particle’s size */
.particle:nth-of-type(2n) {
  width: 20px;
  height: 20px;
}

.particle:nth-of-type(3n) {
  width: 30px;
  height: 30px;
}