:root {
  --bodyColor: rgb(170, 145, 145);
  background-color: rgb(251, 22, 94);
  --backgroundPalette: #1A090D;
  --foregroundPalette: #6B6570;
  --secondaryBackgroundPalette: #4A314D;
  --secondaryForegroundPalette: #A8BA9A;
  --tertiaryBackgroundPalette: #ACE894;
  overflow: hidden;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/wallpaper.jpg'); /* Adjust the path accordingly */
  color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
